/Aula-18-10/nbproject/private/
/Escola/nbproject/private/
/Escola/build/
/Sistemas-11-11-2022/nbproject/private/
/Sistema-11-11-2022/build/
/Sistema-11-11-2022/dist/
/Sistema-11-11-2022/nbproject/private/
